<div class="container" >
  <% @tweets.each do |t| %>
    </br></br><%= t.name %></br>
    <%= t.description %></br>
    <%= image_tag (t.picture_url) %></br>
    <%= link_to "編集", edit_tweet_path(t)%>
  <% end %>
</div>